.one-page-nav{
	padding: 10px 0px;
	background: #ffffff;
}
.one-page-nav .navbar-nav>.active>a, .one-page-nav .navbar-nav>.active>a:focus, .one-page-nav .navbar-nav>.active>a:hover{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
	color: #313131;
}.one-page-nav .navbar-nav>li>a{
	color: #313131;
}
.one-page-nav .navbar-nav>li>a:hover{
	border: 1px solid rgba(0, 0, 0, 0.6);
	color: #313131;
}
.one-page-nav .navbar-nav>li>a:focus, .one-page-nav .navbar-nav>li>a:hover{
	color: #313131;
}
.one-page-nav .navbar-brand{
	border: 1px solid #313131;
	color: #313131;
}

footer{
	background: #ebebeb;
	border-top: 1px solid #ebebeb;
	padding: 20px 0px;
}

footer img {
	height: 30px;
	width: 30px;
	margin-right:20px;
}

@media (max-width: 960px) {
footer{
	text-align: left;
}
footer .text-right{
	text-align: left;
}
}
@media (max-width:620px) {
	footer img {
		height: 30px;
		width: 30px;
		margin-right:5px;
		margin-left: 10px;
	}
}
